<div *ngIf="isVisible" class="fixed bottom-0 w-full bg-gray-800 text-white flex justify-around py-2">
    <ng-container *ngFor="let link of filteredLinks">
      <button (click)="navigate(link.path)" class="flex flex-col items-center">
        <mat-icon>{{ link.icon }}</mat-icon>
        <span>{{ link.label }}</span>
      </button>
    </ng-container>
  </div>
  <button (click)="toggleVisibility()" class="fixed bottom-20 right-4 bg-green-500 text-white p-2 rounded-full shadow-md">
    {{ isVisible ? 'Hide' : 'Show' }} Navigation
  </button>
  
