.search-field {
    display: flex;
    align-items: center;
    border: 1px solid #606C38;
    border-radius: 20px;
    padding: 5px 15px;
    width: 30vw;
  
    .search-icon {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background-color: #606C38;
    }
  
    .search-input {
      border: none;
      outline: none;
      font-size: 16px;
      color: #606C38;
      width: 100%;
      background: transparent; 
      appearance: none;
  
      &::placeholder {
        color: #8A9A5B;
      }

      &:focus::placeholder {
        color: transparent;
      }
    }
  }
  