<div class="min-h-screen flex flex-col overflow-x-hidden animated-background">

  <app-header [title]="'FURNITURES'"></app-header>

  <div class="main-container">
    <app-furniture-form
      [isVisible]="isFormVisible"
      [isEdit]="isFormEdit"
      [furnitureData]="selectedFurniture"
      (close)="closeForm()"
      (submit)="handleFormSubmission($event)"
    ></app-furniture-form>

    <div class="actions-container">
      <app-search-field
        [placeholder]="'Cool Sofa...'"
        (search)="handleSearch()"
      ></app-search-field>

      <app-sort-field
        [label]="'Sort by'"
        (sort)="handleSort()"
      ></app-sort-field>

      <app-filter-field
        [label]="'Collection'"
        (filter)="handleFilter()"
      ></app-filter-field>

      <app-add-item-button
        [iconPath]="'assets/icons/add.png'"
        (clickAdd)="handleAdd()"
      ></app-add-item-button>
    </div>

    <div class="list-container">

      <div *ngIf="isLoading" class="loading-spinner">
        <img src="assets/icons/spinner.gif" alt="Loading..." />
      </div>

      <app-item-list
        *ngIf="!isLoading"
        [items]="furnitureList"
        (edit)="handleEdit($event)"
        (delete)="handleDelete($event)"
        (details)="handleDetails($event)"
      ></app-item-list>
    </div>
  </div>
</div>

<app-bottom-nav></app-bottom-nav>
